.header-row { border-bottom: 1px solid #ccc; }
label { display: block; }
.radio-option { padding: 0 5px; cursor: pointer; }
.command-buttons { list-style: none; margin: 0; padding: 0; }
.command-buttons li { display: inline-block; margin-right: 1em; }
.form-entry { margin: 0 0 20px 0; }
.form-entry .form-control { width: 20em; }
.form-entry label { display: inline-block; }
label:not(.error) .error-info { display: none; }
.error-info { color: #f00; font-size: 0.7em; }
.error-info:before { content: '('; }
.error-info:after { content: ')'; }
.header-btn { margin: 20px; }
.btn-secondary {
  background-color: #fff;
  border: 1px solid #ccc;
}
.inline { display: inline-block; }
.field-help {
  display: inline-block;
  font-size: 1.25em;
  margin-left: 0.5em;
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
